@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-button{
    background-color: #fff;
}
::-webkit-scrollbar-thumb{
    background-color: #000;
    border-radius: 100px;
}
body{
    overflow-x:hidden;
}

/* DESKTOP VIEW */

header{
    padding: 5px 15px;
}
header{
    z-index: 5;
    position: fixed;
    top: 0;
    background-color: #fff;
    width: 100%;
}
.h-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.h-flex .h-i{
    display: flex;
    align-items: center;
}
.h-flex .h-i img{
    width: 150px;
    margin-left: 15px;
    height: 30px;
    border: 1px solid;
}
.h-flex .h-i i,
.h-flex .h-ii .fa-microphone,
.h-flex .h-iii .fa-ellipsis-v{
    display: flex;
    align-items: center;
    justify-content: center;
}
.h-flex .h-ii .fa-microphone{
    margin-left: 5px;
}
.h-flex .h-ii label input,
.h-flex .h-ii label button{
    padding: 10px;
    border:none;
    border: 1px solid;
}
.h-flex .h-ii label input{
    width: 650px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    padding-left: 20px;
    outline: none;
}
.h-flex .h-ii label{
    position: relative;
}
.h-flex .h-ii label .search-i{
    position: absolute;
    left: 10px;
    top: 10px;
}
.h-flex .h-ii label button{
    margin-left: -4px;
    width: 55px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}
.h-flex .h-i i:hover,
.h-flex .h-ii .fa-microphone:hover,
.h-flex .h-iii .fa-ellipsis-v:hover{
    background-color: #f5f5f5;
    cursor: pointer;
}
.h-flex .h-i i,
.h-flex .h-ii .fa-microphone,
.h-flex .h-iii .fa-ellipsis-v{
    width: 40px;
    height: 40px;
    border-radius: 100px;
}
.h-flex .h-ii,
.h-flex .h-iii{
    display: flex;
    align-items: center;
}
.h-flex .h-iii button{
    padding: 10px;
    border-radius: 100px;
    box-shadow: 0px 2px 5px 0px #b1b1b1 inset;
    background-color: transparent;
    display: flex;
    align-items: center;
}
.h-flex .h-iii button .fa-circle-user{
    font-size: 18px;
    margin-right: 5px;
}
main{
    margin-top: 50px;    
}
main .m-flex{
    display: flex;
}
main .m-flex .nav{
    height: 100vh;
}
main .m-flex .nav .nav-flex{
    display: flex;
}
main .m-flex .nav .nav-i{
    display: none;
}
main .m-flex .nav .nav-i a{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
    text-decoration: none;
    padding: 10px 5px;
    border-radius: 10px;
}
main .m-flex .nav .nav-i a:hover{
    background-color: #f5f5f5;
    transition: all linear .3s;
}
main .m-flex .nav .nav-i a i{
    margin-bottom: 15px;
}
main .m-flex .nav .nav-ii{
    /* display:none; */
    width: 250px;
    height: 95vh;
    overflow-y: scroll;
    position: fixed;
    left: 0;
    z-index: 1;
    background-color: #fff;
}
main .m-flex .nav .nav-ii a{
    display: flex;
    padding: 10px;
    margin: 0px 15px;
    border-radius: 10px;
    margin-top: 5px;
    color: #000;
    text-decoration: none;
}
main .m-flex .nav .nav-ii a i{
    margin-right: 20px;
}
main .m-flex .nav .nav-ii a:hover{
    background-color: #f5f5f5
}
main .m-cont{
    position: relative;
}
main .m-cont .slider{
    position: fixed;
    top: 50px;
    background-color: #fff;
    right: 0px;
    z-index: 1;
    width: 1660px;
}
main .m-cont .slider .slider-rel{
    position: relative;
}
main .m-cont .slider .slider-rel button{
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    box-shadow: 0px 10px 40px 10px #fff;
    border:1px solid #fff;
    background-color: #fff;
    border-radius: 100px;
}
main .m-cont .slider .slider-rel button:nth-of-type(2){
    right: 0px;
}
main .m-cont .slider .slider-rel .inline-flex{
    display: inline-flex;
    overflow: hidden;
    width: 100%;
}
main .m-cont .slider .slider-rel .inline-flex a{
    white-space: nowrap;
    padding: 10px 15px;
    text-decoration: none;
    color: #000;
    display: block;
}
.active{
    background-color: #000;
    color: #fff !important;
    border-radius: 10px;
}
.a-flex{
    display: flex;
    flex-direction: column;
}
main .m-flex .nav .nav-flex .nav-ii div{
    margin: 10px 0;
}
main .m-flex .nav .nav-flex .nav-ii .viii a,
main .m-flex .nav .nav-flex .nav-ii .viv a{
    display: inline-block;
    margin: 0;
    padding: 0;
}
main .m-cont .m-contt{
    width: 1600px;
    height: 100px;
    position: relative;
    z-index: -1;
    top: 50px;
    left: 300px;
}
main .m-cont .m-contt .m-conttt-flex{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
main .m-cont .m-contt .m-phase-i .box,
main .m-cont .m-contt .m-phase-iii .box,
main .m-cont .m-contt .m-phase-iv .box{
    margin-right: 30px;
}
main .m-cont .m-contt .m-phase-i,
main .m-cont .m-contt .m-phase-iii,
main .m-cont .m-contt .m-phase-iv{
    border-bottom: 5px solid;
    padding-bottom: 30px;
}
main .m-cont .m-contt .m-phase-i .box,
main .m-cont .m-contt .m-phase-iii .box,
main .m-cont .m-contt .m-phase-iv .box{
    width: 360px;
    position: relative;
    margin-top: 20px;
}
main .m-cont .m-contt .m-phase-i .box .img,
main .m-cont .m-contt .m-phase-iii .box .img,
main .m-cont .m-contt .m-phase-iv .box .img{
    position: relative;
}
main .m-cont .m-contt .m-phase-i .box .img img,
main .m-cont .m-contt .m-phase-iii .box .img img,
main .m-cont .m-contt .m-phase-iv .box .img img{
    width: 100%;
    border: 1px solid;
    border-radius: 20px;
}
main .m-cont .m-contt .m-phase-i .box .img .time,
main .m-cont .m-contt .m-phase-iii .box .img .time,
main .m-cont .m-contt .m-phase-iv .box .img .time{
    width: 60px;
    height: 20px;
    bottom: 10px;
    right: 20px;
    border-radius: 100px;
    position: absolute;
    background-color: #000;
}
main .m-cont .m-contt .m-phase-i .box .m-contt-flex,
main .m-cont .m-contt .m-phase-iii .box .m-contt-flex,
main .m-cont .m-contt .m-phase-iv .box .m-contt-flex{
    display: flex;
    margin-top: 5px;
}
main .m-cont .m-contt .m-phase-i .box .m-contt-flex .i,
main .m-cont .m-contt .m-phase-iii .box .m-contt-flex .i,
main .m-cont .m-contt .m-phase-iv .box .m-contt-flex .i{
    width: 40px;
    height: 40px;
    border: 1px solid;
    border-radius: 100px;
    margin-right: 10px;
}
main .m-cont .m-contt .m-phase-i .box .m-contt-flex .i img,
main .m-cont .m-contt .m-phase-iii .box .m-contt-flex .i img,
main .m-cont .m-contt .m-phase-iv .box .m-contt-flex .i img{
    width: 100%;
    height: 40px;
}
main .m-cont .m-contt .m-phase-i .box .m-contt-flex .ii p,
main .m-cont .m-contt .m-phase-iii .box .m-contt-flex .ii p{
    margin-bottom: 10px;
}
main .m-cont .m-contt .m-phase-i .box .m-contt-flex .ii p:nth-of-type(3),
main .m-cont .m-contt .m-phase-iii .box .m-contt-flex .ii p:nth-of-type(3){
    color: #727272;
}
main .m-cont .m-contt .m-phase-i .box .m-contt-flex .ii p:nth-of-type(1),
main .m-cont .m-contt .m-phase-iii .box .m-contt-flex .ii p:nth-of-type(1){
    font-weight: 900;
}
main .m-cont .m-contt .m-phase-ii,
main .m-cont .m-contt .m-phase-iii{
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
}
main .m-cont .m-contt .m-phase-ii .img{
    display: flex;
    align-items: center;
}
main .m-cont .m-contt .m-phase-ii .img img{
    width: 30px;
    height: 30px;
    border: 1px solid;
    margin-right: 20px;
}
main .m-cont .m-contt .m-phase-ii .img p{
    font-size: 20px;
}
main .m-cont .m-contt .m-phase-ii .img p::after{
    content: "s";
}
main .m-cont .m-contt .m-phase-ii .box-cont{
    margin-top: 20px;
    display: flex;
    flex-wrap:nowrap;
}
main .m-cont .m-contt .m-phase-ii .box-cont .box{
    margin-right: 20px;
}
main .m-cont .m-contt .m-phase-ii .box-cont .box .box-img{
    width: 150px;
    height: 300px;
    border: 1px solid;
    border-radius: 15px;
}
main .m-cont .m-contt .m-phase-i .box .img img,
main .m-cont .m-contt .m-phase-ii .box-cont .box .box-img,
main .m-cont .m-contt .m-phase-iii .box .img img{
    height: 220px;
}
main .m-cont .m-contt .m-phase-ii .box-cont .box .box-dt p:first-child{
    font-weight: 900;
    font-size: 20px;
}
main .m-cont .m-contt .m-phase-ii .box-cont .box .box-dt p{
    margin: 10px 0;
}
main .m-cont .m-contt .m-phase-ii .btn{
    margin-top: 20px;
}
main .m-cont .m-contt .m-phase-ii .btn,
main .m-cont .m-contt .m-phase-ii .btn button{
    width: 100%;
}
main .m-cont .m-contt .m-phase-ii .btn button{
    border:none;
    padding: 15px;
    background-color: transparent;
    border-bottom: 5px solid;
}
main .m-cont .m-contt .m-phase-ii .btn button:hover{
    background-color: #b1b1b1;
    transition: background-color linear .3s;
    cursor: pointer;
}
main .m-cont .m-contt .m-phase-ii .btn button i{
    font-size: 20px;
}